@import "tailwindcss";

body {
  background-color: #020617; /* Tailwind bg-slate-950 */
  color: #ffffff;
}

@theme {
  --animate-*: initial; /* যদি আগে থেকে কিছু থাকে */
}

/* Tailwind v4-এ ক্লাস-ভিত্তিক ডার্ক মোড অ্যাক্টিভ করার অফিশিয়াল নিয়ম */
@variant dark (&:where(.dark, .dark *));

/* কাস্টম স্মুথ স্ক্রোলবার */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
